@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Montserrat";
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --color-custom: #5e2ae1;
}



/* @theme{
  --color-custom: darkred;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-custom: skyblue;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-custom: darkgreen;
} */